
<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="container">

            <div class="masthead clearfix">
                <div class="container inner">
                    <h3 class="masthead-brand">Lottery</h3>
                    <nav>
                        <ul class="nav masthead-nav">

                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">

                    <h1 class="cover-heading">Welcome to the blockchain Lottery</h1>
                    <p class="lead">Begin by purchasing one of the 10 tickets</p>
                    <p class="lead">
                        <a href="{{#if choose}}/buy_ticket_choose{{else}}/buy_ticket{{/if}}" class="btn btn-lg btn-default">Buy me a ticket!</a>
                    </p>

                    {{#if winner}}
                        <p class="lead alert alert-success" role="alert">Congratulations, {{winner}}, you're the winner!</p>

                    {{/if}}

                    <h2 class="cover-heading">These are the numner of tickets that remain in the lottery</h2>
                    <p class="lead">{{tickets}}</p>

            </div>

        </div>

    </div>

</div>