
<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="container">

            <div class="masthead clearfix">
                <div class="container inner">
                    <h3 class="masthead-brand">Lottery</h3>
                    <nav>
                        <ul class="nav masthead-nav">

                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">Welcome to the blockchain Lottery</h1>
                <p class="lead">Begin by purchasing one of the 10 tickets</p>
                <p class="lead">
                    <a href="/buy_ticket" class="btn btn-lg btn-default">Buy me a ticket!</a>
                </p>
            </div>

        </div>

    </div>

</div>